.sa-label-upload h3 {
    font-weight: 600;
    font-size: 12px;
    color: #777676;
    margin-bottom: 10px;
  }
  
  .sa-upload {
    padding: 18px;
  }
  
  .sa-upload-container {
    width: 500px;
    height: 200px;
    border-radius: 20px;
    text-align: center;
  }
  
  .sa-img-view {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px dashed #d15d61;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
  }
  
  .sa-upload-icon {
    color: #d15d61;
    font-size: 40px;
  }
  
  .sa-img-view p {
    display: block;
    font-size: 12px;
    color: #777676;
  }
  

  .sa-upload-container.drag-over .sa-img-view {
    background-color: #e0e0e0;
    border: 2px dashed #a14447;
  }

  .sa-shop-categories{
    padding: 18px;
  }

  .sa-shop-categories h3 {
    font-weight: 600;
    font-size: 12px;
    color: #777676;
    margin-bottom: 10px;
  }

  .sa-category-item {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 10px 0 0;
    border-radius: 10px;
    background-color: #ccc;
    cursor: pointer;
    font-size: 12px;
  }
  
  .sa-category-item.selected {
    background-color: #d15d61;
    color: #fff;
  }
.gcash-input-container {
  display: flex;
  align-items: center;
}

.gcash-prefix {
  margin-right: 8px;
  font-size: 16px;
}

.gcash-num {
  flex: 1;
}