.nav-side {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    background-color: #BC4A4D;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campus {
    color: #A83332;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 35px;
    margin-top: 100px;
    padding-top: 10%;
    padding-left: 120px;
}

.eats {
    color: #F8BD00;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 35px;
    padding-left: 3px;
}

.campus-text {
    color: #827D7D;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 20px;
}

.nav-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-color: #FFFAF1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    padding-bottom: 0px;
}

.nav-top h1 {
    margin-left: 8%;
    padding-top: 1%;
}

.nav {
    justify-content: center;
    align-items: center;
    margin-top: 90%;
}

.nav-side ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #FFFAF1;
    cursor: pointer;
}

.nav-side ul li {
    margin-bottom: 40px;
}

.nav-image {
    align-items: center;
}

.signout {
    align-items: center;
    padding-top: 250px;
}

.nav-link {
    color: #FFFAF1;
    text-decoration: none;
    font-family: 'Sora', sans-serif;
}

.body {
    margin: 0; 
    background-color: #DFD6C5; 
}