@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@300;400;500;600;800;900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body, input{
    font-family: "Poppins", sans-serif;
}
.fp-main{
    
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(to right, #b94e4c,#b65b59 , #b94e4c);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fp-box{
    position: relative;
    width: 100%;
    height: 360px;
    max-width: 600px;
    background-color: #F7EAD2;
    border-radius: 3.3rem;

    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}
.fp-big-box{
    height: 600px;
}

.fp-inner-box{
    position: absolute;
    width: calc(100% - 4.1rem);
    height: calc(100% - 4.1rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fp-forms-wrap{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: .8s ease-in-out;
}

.fp-form{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: opacity 0.02s 0.4s;
}

.fp-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fp-actual-form{
    margin: 50px 50px 0 50px;
}
.fp-input-wrap{
    position: relative;
    height: 37px;
    margin-bottom: 2rem;
    
}

.fp-input-field{
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #bbb;
    padding: 0;
    font-size: 0.95rem;
    color: #151111;
    transition: 0.4s;
}

.fp-input-wrap label{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: .95rem;
    color: #bbb;
    pointer-events: none;
    transition: .4s;
}

.fp-input-field.active{
    border-bottom-color: #151111;
}

.fp-input-field.active + label{
    font-size: 0.75rem;
    top: -2px;
}

.fp-btn{
    display: inline-block;
    width: 100%;
    height: 43px;
    background-color: #151111;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    transition: .3s;
    margin-bottom: 10px;
}

.fp-btn:hover{
    background-color: #b13734;
}